h1{
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
}

 

body{

    background: url(fo.jpg);
}

.colorLantanido{
    background-color: peru;
    border-color: peru; 
    border: none;

        }
    .colorActinidos{
    background-color: lightsalmon;
    border-color: lightsalmon;
    border: none;

        }
     .espacios{

    border: none;

        }
    .colorOtrosNoMetales{
            background-color: green;
            border: none;
        }
    .colorGasesNobles {
            background-color: lightblue;
        }
    .colorHalogenos {
            background-color: lightskyblue;
    }
    .colorMetaloides{
            background-color: lightgreen;
    }
    .colorOtrosMetales{
            background-color: #dfdf35;
    }
    .colorMetales {
            background-color: orange;
    }
    .colorAlcalinoterreos{
            background-color: plum;
    }
    .colorAlcalino{
            background-color: rebeccapurple;
    }
    h1{
            text-align: center;
            font-size: xx-large;
    }
